<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/about.css">
</head>
<body>
    <div class="sec1">
        <div class="title">
            <h1>ABOUT</h1>
        </div>
    <div class="image1">
        <img src="https://www.datocms-assets.com/53023/1712136271-large-format-duo.jpg" alt="Image not found">
    </div>
    <div class="image2"><img src="https://www.datocms-assets.com/53023/1712139517-bedroom-woodbrook.jpg" alt="Image not found"></div>
    <div class="image3"><img src="https://www.datocms-assets.com/53023/1694519086-awards.jpg" alt="Image not found"></div>
    </div>
</body>
</html>