*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.sec1{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;

}

.title{
    position: relative;
    left: 40%;
    top:30%;
}
.title h1{
    font-size:130px;
    font-family: ivymode, serif;
    font-weight: 100;
    font-style: normal;
    display: inline;
}

.image1{
    margin-top: 20vh;
}
.image1 img{
    height: 95vh;
    width: 100vh;
}

.image2 img{
    height: 95vh;
    width: 100vh;
}
.image3 img{
    height: 95vh;
    width: 100vh;
}

